<!-- to be included in footer.html -->
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.0.0/mermaid.dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.0.0/mermaid.min.js" type="text/javascript"></script>
-->
<link rel="stylesheet" href="https://viewscreen.githubusercontent.com/static/assets/mermaid-524b2bd61dab9d5ac768.css">
<script src="https://viewscreen.githubusercontent.com/static/assets/mermaidMarkdown-524b2bd61dab9d5ac768.js"></script>
<script>
var config = {
    startOnLoad:true,
    //theme: 'forest',
    flowchart:{
            useMaxWidth:false,
            htmlLabels:true
        }
};
mermaid.initialize(config);
window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
