<script src="{{ site.baseurl }}/assets/js/lunr.js"></script>

<script>
{% assign counter = 0 %}
var documents = [
    {% for post in site.posts %}
        //idx.add({
            url: "{{ site.url }}{{ post.url }}",
            title: "{{ post.title }}",
            category: "{{ post.category | jsonify | replace: '"', ' ' | replace: '[', ' ' | replace: ']', ' ' | replace: '  ', ' ' }}",
            tags: "{{ post.tags | jsonify | replace: '"', ' ' | replace: '[', ' ' | replace: ']', ' ' | replace: '  ', ' ' }}",
            id: {{counter}}
        //});            
        {% assign counter = counter | plus: 1 %}
    {% endfor %}
];

var idx = lunr(function () {
    this.ref('id')
    this.field('title')
    this.field('category')
    this.field('tags')

    documents.forEach(function (doc) {
        this.add(doc)
    }, this)
});

function lunr_search(term) {
    document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
    if(term) {
        document.getElementById('lunrsearchresults').innerHTML = "<p>Résultat de la recherche pour '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
        //put results on the screen.
        var results = idx.search(term);
        console.log(results);
        if(results.length>0){
            console.log(idx.search(term));
            //if results
            for (var i = 0; i < results.length; i++) {
            //results.forEach( result => {
                console.log(result);
                // more statements
                //if (results.hasOwnProperty('foo')) {

                
                    var ref = results[i]['ref'];
                    //var ref = result['ref'];
                    var url = documents[ref]['url'];
                    var title = documents[ref]['title'];
                    var category = documents[ref]['category'];
                    var tags = documents[ref]['tags'];
                    //var body = documents[ref]['body'].substring(0,160)+'...';
                    document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><span class='url'>"+ url +"</span></a></li>";
                //}    
            //}
            });
        } else {
            document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>Aucun résultat trouvé...</li>";
        }
    }
    return false;
}
</script>
<style>
    #lunrsearchresults {padding-top: 0.2rem;}
    .lunrsearchresult {padding-bottom: 1rem;}
    .lunrsearchresult .title {color: #d9230f;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>
